ul li .instagram:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#circle{
    background-color: red;
    color: red;
}
img{
    width: 350px;
}
.gmail:hover{
    color: rgba(215,9,11,0.75);
}
.phone:hover{
    color: rgba(128,181,71,0.75)!important;
}

.avatar {
    width: 180px;
}